@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Koulen&family=Lexend+Deca&family=Permanent+Marker&family=Poppins:wght@400;700;900&family=Red+Hat+Display:wght@500;700;900&family=Supermercado+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}


body {
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
}

     .main-container {
         background-color: hsl(244, 38%, 16%);
         width: 21rem;
         height: 50rem;
         margin: 5rem auto;
        border-radius: 1.5%; 
     }

         .img-container {
             height: 15.5rem;
             width: 100%;
         }
    
        div .img {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(hsla(277, 64%, 61%, 0.7), rgba(132, 24, 199, 0.5)), url(./images/image-header-mobile.jpg);
                background-repeat: no-repeat;
                background-size: contain;
                border-top-left-radius: 1.5%;
                border-top-right-radius: 1.5%;
         }

        section {
              text-align: center;
         }

     .heading {
         color: hsl(0, 0%, 100%);
         font-weight: 400;
         font-size: 1.3rem;line-height: 1;
         margin-top: 2rem;
         padding: 1rem;
     }

     .heading span {
         color: hsl(277, 64%, 61%);
     }

     .heading-body p {
         color: hsla(0, 0%, 100%, 0.75);
         font-size: 1rem;
         line-height: 1.7;
         padding: 1.5rem;
        font-family: 'Lexend Deca', sans-serif;
        margin-top: -2rem;
     }

       div.stats {
           color: hsla(0, 0%, 100%, 0.6);
           margin: 1rem;
           text-transform: uppercase;
           font-weight: 400;
       }

       .stats span {
           color: hsl(0, 0%, 100%);
           font-size: 1.3rem;
           font-weight: 700;
           display: block;
       }


       .stats-class {
           margin-bottom: 3rem;
       }

       footer a {
           color:hsl(0, 0%, 100%);
       }

       footer {
        text-align: center;
        white-space: nowrap;
        color:hsl(0, 0%, 100%);
        font-size: small;
    }


    @media only screen and (min-width: 768px) {

             .main-container {
                 width: 75rem;
                 height: 30rem;
                 margin: 10rem auto;
                 position: relative; 
             }

            .img-container {
                 width: 50%;
                 height: 100%;
                 position: absolute;
                 right: 0;
            }

            div > .img {
                background-image: linear-gradient(hsla(277, 64%, 61%, 0.7), rgba(132, 24, 199, 0.5)), url(./images/image-header-desktop.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                border-bottom-right-radius: 1.5%;
                border-top-right-radius: 1.5%;
                border-top-left-radius: unset;
            }

            section {
                width: 50%;
                padding: 2.5rem;
            }

             .heading {
                 word-spacing: 2px;
                 font-size: 1.7rem;
            }

            .heading-body {
                padding: 2rem;
            }

            .stats {
                display: flex;
                justify-content: space-around;
            }
        }