@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  /* ### Primary */
  --Strong-cyan: hsl(172, 67%, 45%);
  /* ### Neutral */
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2.5rem;
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  background-color: var(--Light-grayish-cyan);
  color: var(--Grayish-cyan);
  height: 100%;
  width: 100%;
}

.heading-logo {
  height: 17rem;
  /* width: 100%; */
  position: relative;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background {
  background-color: var(--White);
  height: auto;
  width: 100%;
  border-radius: 3rem;
  padding: 5rem 2rem;
  margin: 0;
}

label {
  display: block;
}

.icon-box {
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  border: none;
  font-size: 2.5rem;
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  background: var(--Very-light-grayish-cyan) no-repeat left;
  background-size: 1.2rem;
  text-align: end;
}

input:focus {
  outline: none;
}

input::placeholder {
  text-align: end;
}


.tip {
  padding: 2rem 0;
}

.percent-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2.5rem;
  grid-template-areas:
    "five ten"
    "fiftheen twentyFive"
    "fifty custom";
  padding: 1.5rem 0;
}

.percent {
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
}

.percent:hover {
  background-color: var(--Very-light-grayish-cyan);
  color: var(--Strong-cyan);
}

.five {
  grid-area: five;
}

.ten {
  grid-area: ten;
}

.fiftheen {
  grid-area: fiftheen;
}

.twenty-five {
  grid-area: twentyFive;
}

.fifty {
  grid-area: fifty;
}

.custom {
  grid-area: custom;
  background-color: var(--Light-grayish-cyan);
  color: var(--Very-dark-cyan);
}


.second-container {
  margin-top: 2rem;
  background-color: var(--Very-dark-cyan);
  border-radius: 1rem;
  padding: 3rem 2rem;
}

.amount {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

p {
  color: var(--White);
}

.person {
  display: block;
  font-size: 1.8rem;
  color: var(--Dark-grayish-cyan);
}

.digit {
  color: var(--Strong-cyan);
  font-size: 3rem;
}

.digit svg {
  margin-right: -1.5rem;
}

.dollar {
  filter: var(--Strong-cyan);
}

button {
  width: 100%;
  padding: 1rem;
  background-color: var(--Dark-grayish-cyan);
  color: var(--Very-dark-cyan);
  border: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Space Mono", sans-serif;
  
}

.attribution {
  font-size: 1.8rem;
  text-align: center;
  width: 88%; 
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1000px) {
  .background {
    width: 55%;
    height: 75vh;
    margin: 0rem auto;
    display: flex;
    gap: 2rem;
    padding: 2rem 1rem;
    font-size: 1.8rem;
  }

  .tip {
    padding: 1rem;
  }

  .percent-container {
    gap: 1rem;
    padding: .5rem 0;
  }

  .percent {
    padding: .5rem;
  }

  .first-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
  }

  .second-container {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .btn {
    margin-top: auto;
  }
}
